<!DOCTYPE html>
<html>

<head>
  <script data-require="angular.js@*" data-semver="1.2.5" src="http://code.angularjs.org/1.2.5/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="/javascript/angular/app.js"></script>
    <style type="text/css">.mt-100 {
    margin-top: 100px; 
}
.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

.phone {
    position: relative;
    max-width: 263px;
    margin: 0 auto;
    padding: 65px 15px 55px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}</style>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
</head>

<body ng-app="SelectApp" ng-controller="selectController">

    <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#">Shopping App <span class="label label-success text-capitalize">Free</span></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><button type="button" class="btn btn-success navbar-btn btn-circle">Sign in</button></li>
            </ul>
        </div>
      </div>
    </nav>
    <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="content">
                  <div class="pull-middle">
                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="#" role="form">
                                <div class="input-group">
                                   <select ng-model="selection.item" ng-change="onSelectChange(selection.item)">
    <option value="">Category</option>

    <option ng-repeat="item in category">{{ item }}</option>

  </select>
    <strong>RESULT:</strong> {{onSelectChangeResult}}<br/>
    {{ptis3}}

  <select ng-model="selectedItem" ng-disabled="!selection.item">
       <option value="">Subcategory</option>

        <option ng-repeat="ite in names" value="{{ite.sc_name}}">{{ite.sc_name}}</option></select>



  <select ng-model="selection.subitem" ng-disabled="!selection.item">
    <option value="">Subcategory</option>
    <option ng-repeat="subitem in subcategory">{{ subitem }}</option>
  </select>

 

  <p>
    Selection: <code>{{ selection }}</code>
      {{names}}
  </p>
  
                                                          
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>              
                </div>
            </div>
           
          </div>
        </div>
    </header>
   
  
  

</body>

</html>
